

DEBUG=True
SECRET_KEY=django-insecure-visvasahome-dev-secret-change-in-production-xyz123
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/visvasahome
REDIS_URL=redis://localhost:6379/0
ALLOWED_HOSTS=localhost,127.0.0.1
RAZORPAY_KEY_ID=rzp_test_T3AHc20QTQyafV
RAZORPAY_KEY_SECRET=K3fJand3f1KGh75P1bzMNFy3
MSG91_API_KEY=
MSG91_SENDER_ID=VISVSA
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=visvasahome-media
FRONTEND_URL=http://localhost:3000